# compiled output
/client/dist

# client dependencies
/client/node_modules

# client gitignore
/client/.gitignore

# e2e
/client/e2e/*.js
/client/e2e/*.map

# server dependencies
/node_modules

#log files
/client/angularoutput.log
/*.log

#temp emacs files
*~
client/*~
